:host {
  display: contents;
}

.stepper-item-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 1em;
  flex-grow: 1;
  flex-shrink: 1;
}

.stepper-item-container {
  position: relative;
  width: fit-content;
}

.stepper-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sit-gap-sm);
}

.stepper-item.vertical {
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: var(--sit-padding-xl);
}

.stepper-item.clickable:focus-visible {
  outline: var(--sit-outline-focus);
  outline-offset: var(--sit-outline-offset-focus);
}

.stepper-item:not(.first):not(.vertical):before {
  content: " ";
  position: absolute;
  top: 15px;
  left: calc(-50% + 16px);
  width: calc(100% - var(--sit-dimension-32));
  height: var(--sit-dimension-2);
  background: var(--sit-border-color-translucent);
}

:host(:not(.last)) .stepper-item-container .stepper-item.vertical:after {
  content: " ";
  position: absolute;
  top: 32px;
  left: 15px;
  width: var(--sit-dimension-2);
  height: calc(100% - var(--sit-dimension-32));
  background: var(--sit-bg-translucent);
}

.stepper-item-container .stepper-item.active:not(.first):before,
.stepper-item-container .stepper-item.completed:not(.first):before,
:host(:not(.last)) .stepper-item-container .stepper-item.completed:after {
  background: var(--sit-primary-border-color-default);
}

.stepper-item.clickable {
  cursor: pointer;
}

.stepper-marker {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--sit-bg-translucent);
  border: var(--sit-border-width-2) solid var(--sit-border-color-transparent);
  border-radius: 50%;
  z-index: 1;
  color: var(--sit-color-default);
  height: var(--sit-dimension-32);
  width: var(--sit-dimension-32);
  flex-shrink: 0;
}

.stepper-detail {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: var(--sit-gap-2-xs);
  max-width: var(--sit-dimension-128);
}

.stepper-item.vertical .stepper-detail {
  text-align: left;
  padding: var(--sit-padding-2-xs) 0 0;
  max-width: unset;
}

.stepper-item:not(.active):not(.completed) .stepper-label {
  color: var(--sit-color-subtle);
}

.stepper-item.clickable:hover .stepper-marker,
.stepper-item.clickable:focus .stepper-marker,
.stepper-item.clickable:focus-visible .stepper-marker {
  background-color: var(--sit-primary-surface-emphasis);
  border-color: var(--sit-border-color-transparent);
  color: var(--sit-color-fixed-light);
}

.stepper-item.clickable:hover .stepper-label,
.stepper-item.clickable:focus .stepper-label,
.stepper-item.clickable:focus-visible .stepper-label {
  color: var(--sit-primary-color-emphasis);
}

.stepper-item.clickable .stepper-label {
  color: var(--sit-primary-color-default);
}

.stepper-item.completed .stepper-marker {
  background-color: var(--sit-bg-transparent);
  border: var(--sit-border-width-2) solid var(--sit-primary-border-color-default);
  color: var(--sit-primary-color-default);
}

.stepper-item.active .stepper-marker {
  background-color: var(--sit-primary-surface-default);
  color: var(--sit-color-fixed-light);
}

.stepper-slot {
  display: flex;
  flex-direction: column;
  gap: var(--sit-gap-xs);
  font-size: var(--sit-font-size-label-sm);
  font-weight: var(--sit-font-weight-regular);
  line-height: var(--sit-line-height-2-xs);
  letter-spacing: var(--sit-letter-spacing-normal);
  color: var(--sit-color-subtle);
}

.stepper-item.disabled {
  opacity: var(--sit-opacity-40);
}
