.stepper {
  display: flex;
  flex-wrap: wrap;
}

.stepper.vertical {
  flex-direction: column;
}

.stepper.horizontal .stepper-item-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 1em;
  flex-grow: 1;
  flex-shrink: 1;
}

.stepper.vertical .stepper-item-container {
  position: relative;
  width: fit-content;
}

.stepper .stepper-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sit-gap-sm);
}

.stepper.vertical .stepper-item {
  flex-direction: row;
  align-items: flex-start;
}

.stepper.vertical .stepper-item-container:not(:last-child) .stepper-item {
  margin-bottom: var(--sit-padding-xl);
}

.stepper .stepper-item.is-clickable:focus-visible {
  outline: var(--sit-outline-focus);
  outline-offset: var(--sit-outline-offset-focus);
}

.stepper.horizontal .stepper-item-container:not(:first-of-type) .stepper-item:before {
  content: " ";
  position: absolute;
  top: 15px;
  bottom: 0;
  left: calc(-50% + 16px);
  width: calc(100% - var(--sit-dimension-32));
  height: var(--sit-dimension-2);
  background: var(--sit-border-color-translucent);
}

.stepper.vertical .stepper-item-container:not(:last-child) .stepper-item:after {
  content: " ";
  position: absolute;
  top: 32px;
  bottom: 0;
  left: 15px;
  width: var(--sit-dimension-2);
  height: calc(100% - var(--sit-dimension-32));
  background: var(--sit-bg-translucent);
}

.stepper.horizontal .stepper-item-container .stepper-item.is-active:before,
.stepper.horizontal .stepper-item-container .stepper-item.is-completed:before,
.stepper.vertical .stepper-item-container .stepper-item.is-completed:after,
.stepper.vertical .stepper-item-container .stepper-item.is-completed:after {
  background: var(--sit-primary-border-color-default);
}

.stepper .stepper-item.is-clickable {
  cursor: pointer;
}

.stepper .stepper-marker {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--sit-bg-translucent);
  border: var(--sit-border-width-2) solid var(--sit-border-color-transparent);
  border-radius: 50%;
  z-index: 1;
  color: var(--sit-color-default);
  height: var(--sit-dimension-32);
  width: var(--sit-dimension-32);
}

.stepper:not(.vertical) .stepper-detail {
  text-align: center;
  max-width: var(--sit-dimension-128);
}

.stepper.vertical .stepper-detail {
  text-align: left;
  padding: var(--sit-padding-2-xs) 0 0;
}

.stepper .stepper-item:not(.is-active):not(.is-completed) .stepper-detail {
  color: var(--sit-color-subtle);
}

.stepper .stepper-item.is-clickable:hover .stepper-marker,
.stepper .stepper-item.is-clickable:focus .stepper-marker,
.stepper .stepper-item.is-clickable:focus-visible .stepper-marker {
  background-color: var(--sit-primary-surface-emphasis);
  border-color: var(--sit-border-color-transparent);
  color: var(--sit-color-fixed-light);
}

.stepper .stepper-item.is-clickable:hover .stepper-detail,
.stepper .stepper-item.is-clickable:focus .stepper-detail,
.stepper .stepper-item.is-clickable:focus-visible .stepper-detail {
  color: var(--sit-primary-color-emphasis);
}

.stepper .stepper-item.is-clickable .stepper-detail,
.stepper.clickable .stepper-item.is-active .stepper-detail {
  color: var(--sit-primary-color-default);
}

.stepper .stepper-item.is-active .stepper-marker {
  background-color: var(--sit-primary-surface-default);
  color: var(--sit-color-fixed-light);
}

.stepper .stepper-item.is-completed .stepper-marker {
  background-color: var(--sit-bg-transparent);
  border: var(--sit-border-width-2) solid var(--sit-primary-border-color-default);
  color: var(--sit-primary-color-default);
}
