:host([noPadding]) .card {
  border: var(--sit-border-width-1) solid var(--sit-border-color-transparent);
  background-color: inherit;
}

:host([orientation="vertical"][noPadding]) .card-body {
  padding: var(--sit-padding-xl) var(--sit-padding-none) var(--sit-padding-none) var(--sit-padding-none);
}

:host([orientation="vertical"][imagePosition="after"][noPadding]) .card-body {
  padding: var(--sit-padding-none) var(--sit-padding-none) var(--sit-padding-xl) var(--sit-padding-none);
}

:host([orientation="horizontal"][noPadding]) .card-body {
  padding: var(--sit-padding-none) var(--sit-padding-none) var(--sit-padding-none) var(--sit-padding-xl);
}

:host([orientation="horizontal"][imagePosition="after"][noPadding]) .card-body {
  padding: var(--sit-padding-none) var(--sit-padding-xl) var(--sit-padding-none) var(--sit-padding-none);
}

:host([tinted]:not([noPadding])) .card-tinted-bg {
  background-color: var(--sit-bg-translucent-subtle);
  opacity: var(--sit-opacity-50);
}

:host([orientation][noPadding]) .card-media {
  padding: var(--sit-padding-none);
}

slot[name="thumbnail"]::slotted(*) {
  min-width: var(--sit-dimension-64) !important;
  max-width: var(--sit-dimension-128) !important;
  height: var(--sit-dimension-64) !important;
  width: 100%;
  object-fit: contain;
  object-position: left;
}