:host([class^="third-level"]) ::slotted(a) {
  padding-left: calc(var(--sit-padding-xl) + var(--sit-padding-3-xl));
}

::slotted(a) {
  display: block;
  --sit-link-color-default: var(--sit-color-default);
  color: var(--sit-color-default, var(--sit-link-color-default));
  padding-top: var(--sit-padding-sm);
  padding-bottom: var(--sit-padding-sm);
  padding-left: var(--sit-padding-3-xl);
  padding-right: var(--sit-padding-sm);
  border-radius: var(--sit-border-radius-md);
  text-decoration: none !important;
}

:host([active]) ::slotted(a) {
  --sit-link-color-default: var(--sit-primary-color-emphasis);
  color: var(--sit-primary-color-emphasis, var(--sit-link-color-default));
  background-color: var(--sit-primary-surface-translucent);
}

:host(:not([disabled]):not([active])) ::slotted(a:hover) {
  background-color: var(--sit-bg-translucent-subtle);
}

::slotted(a:hover),
::slotted(a:focus),
::slotted(a:focus-visible) {
  --sit-link-color-emphasis: var(--sit-color-default);
  color: var(--sit-color-default, var(--sit-link-color-emphasis));
}

:host([active]) ::slotted(a:hover),
:host([active]) ::slotted(a:focus),
:host([active]) ::slotted(a:focus-visible) {
  --sit-link-color-emphasis: var(--sit-primary-color-emphasis);
  color: var(--sit-primary-color-emphasis, var(--sit-link-color-emphasis));
}

:host([disabled]) ::slotted(a) {
  opacity: var(--sit-opacity-40);
  pointer-events: none;
}
:host([disabled]) ::slotted(a:focus-visible) {
  outline: 0;
}

::slotted(a:focus-visible) {
  background-color: var(--sit-bg-translucent-subtle);
}
::slotted(a:focus-visible) {
  outline: var(--sit-outline-focus);
  outline-offset: var(--sit-outline-offset-focus);
}

:host([active]) ::slotted(a:focus-visible) {
  background-color: var(--sit-primary-bg-translucent);
}
