:host([class^="second-level"]) .sidenav-btn {
  padding-left: var(--sit-padding-3-xl);
  font-weight: var(--sit-font-weight-regular);
}

button {
  all: unset;
}
.sidenav-btn {
  width: 100%;
  text-align: initial;
  line-height: var(--sit-line-height-xs);
  font-size: var(--sit-font-size-label-md);
  border: 0;
  background: 0;
  padding: var(--sit-padding-sm) var(--sit-padding-sm) var(--sit-padding-sm)
    calc(var(--sit-padding-sm) + var(--sit-padding-2-xs));
  border-radius: var(--sit-border-radius-md);
  display: flex;
  gap: var(--sit-gap-xs);
  font-weight: var(--sit-font-weight-semibold);

  .caret-icon,
  slot[name="caret-icon"]::slotted(*) {
    margin-left: auto;
    margin-bottom: auto;
    transition: all 0.3s ease-in-out;
    transform: rotate(180deg);
  }
}
.sidenav-btn:hover:not(.disabled) {
  background-color: var(--sit-bg-translucent-subtle);
}
.sidenav-btn.active {
  color: var(--sit-color-default);
}
.sidenav-btn.disabled {
  opacity: var(--sit-opacity-40);
  pointer-events: none;
}
.sidenav-btn:not(.active) {
  .caret-icon,
  slot[name="caret-icon"]::slotted(*) {
    transform: rotate(0deg);
  }
}
.sidenav-btn:focus-visible:not(.disabled) {
  background-color: var(--sit-bg-translucent-subtle);
}
.sidenav-btn:focus-visible:not(.disabled) {
  outline: var(--sit-outline-focus);
  outline-offset: var(--sit-outline-offset-focus);
}

.no-menu-default::slotted(a) {
  text-decoration: none !important;
  color: inherit !important;
  line-height: var(--sit-line-height-xs) !important;
  font-size: var(--sit-font-size-label-md);
  border: 0;
  background: 0;
  padding: var(--sit-padding-sm) var(--sit-padding-sm) var(--sit-padding-sm)
    calc(var(--sit-padding-sm) + var(--sit-padding-2-xs));
  border-radius: var(--sit-border-radius-md);
  display: flex;
  gap: var(--sit-gap-xs);
  font-weight: var(--sit-font-weight-semibold) !important;
}

.no-menu-default::slotted(a:focus-visible) {
  background-color: var(--sit-bg-translucent-subtle);
}
.no-menu-default::slotted(a:focus-visible) {
  outline: var(--sit-outline-focus);
  outline-offset: var(--sit-outline-offset-focus);
}

:host([class^="first-level"][active]) .no-menu-default::slotted(a) {
  color: var(--sit-primary-color-emphasis) !important;
  background-color: var(--sit-primary-surface-translucent);
}

:host([class^="first-level"][disabled]) .no-menu-default::slotted(a) {
  opacity: var(--sit-opacity-40);
  pointer-events: none;
}
