.form-control::placeholder {
  color: var(--sit-form-color-subtle);
  font-family: var(--sit-font-family-brand);
  font-weight: var(--sit-font-weight-light);
  line-height: var(--sit-line-height-24);
}
