.form-label {
  margin-bottom: 0;
  color: var(--sit-form-color-default);
  font-weight: var(--sit-font-weight-semibold);
}

.form-label.disabled {
  opacity: var(--sit-opacity-40);
}

.form-check-label {
  color: var(--sit-form-color-default);
}
.form-check-input:disabled ~ .form-check-label,
.form-check-input[disabled] ~ .form-check-label {
  /* opacity: var(--sit-disabled-opacity); */
  cursor: not-allowed;
}
