.form-text {
  color: var(--sit-form-color-subtle);
  font-size: var(--sit-font-size-label-sm);
  line-height: var(--sit-line-height-2-xs);
}

.form-text.disabled {
  opacity: var(--sit-opacity-40);
}