/* 
<div class="form-control-container>
    <div class="form-control-group"><input class="form-control" /></div>
</div>    
*/

.form-control-container {
  display: flex;
  flex-direction: column;
  gap: var(--sit-form-gap-md);
}

.m-width-160 {
  min-width: var(--sit-dimension-160);
}

.m-width-256 {
  min-width: var(--sit-dimension-256);
}

.form-label {
  color: var(--sit-form-color-default);
  font-size: var(--sit-font-size-label-md);
  font-weight: var(--sit-font-weight-semibold);
}

.form-control-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--sit-form-gap-md);
  background-color: var(--sit-form-surface-default);
  border: var(--sit-form-border-width-default) solid var(--sit-border-color-default);
  border-radius: var(--input-border-radius, var(--sit-form-border-radius-md));
  padding: 0px var(--sit-form-padding-x);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: var(--sit-dimension-48);
  width: -webkit-fill-available;
  width: -moz-available;
  overflow: hidden;
}

.form-control {
  display: block;
  background-clip: padding-box;
  appearance: none;
  border: none;
  background: none;
  outline: none;
  padding: 0;
  flex-grow: 1;
  min-width: 0;
  width: 100%;
  color: var(--sit-form-color-default);
  font-family: var(--sit-font-family-brand);
  font-size: var(--sit-font-size-label-md);
  line-height: var(--sit-line-height-xs);
}

.form-clearable {
  cursor: pointer;
  color: var(--sit-color-subtle);
}

@media (prefers-reduced-motion: reduce) {
  .form-control-group {
    transition: none;
  }
}

.form-control-group:not(.disabled):not(.is-invalid):not(.readonly):not(:focus-within):hover {
  outline: var(--sit-form-border-width-thick) solid var(--sit-border-color-emphasis);
  outline-offset: var(--sit-form-outline-offset-focus);
}

.form-control-group:not(.disabled):not(.is-invalid):focus-within {
  outline: var(--sit-form-outline-focus);
  outline-offset: var(--sit-form-outline-offset-focus);
}

/* Disabled */

.form-control-container.disabled {
  opacity: var(--sit-opacity-40);
}

.form-control-group.disabled {
  background-color: var(--sit-form-surface-muted);
  cursor: not-allowed;
}

/* Readonly */

.form-control-group.readonly {
  background-color: var(--sit-form-surface-raised);
}

/* Invalid */

.form-control-group.is-invalid:not(.disabled) {
  border: var(--sit-form-border-width-default) solid var(--sit-form-danger-border-color-default);
}
.form-control-group:not(.disabled).is-invalid:focus-within {
  outline: var(--sit-border-width-2) solid var(--sit-form-danger-color-default);
  outline-offset: var(--sit-form-outline-offset-focus);
}
