slot {
  display: flex;
  flex-direction: column;
  gap: var(--sit-gap-xs);
}

slot::slotted(*){
  display: flex;
  gap: var(--sit-gap-xs);
  align-items: flex-start;
}

.sm {
  font-size: var(--sit-font-size-label-sm);
  line-height: var(--sit-line-height-2-xs);
}

.lg {
  font-size : var(--sit-font-size-label-lg);
  line-height: var(--sit-line-height-md);
}