:host {
  display: flex;
  gap: var(--sit-gap-xs);
  align-items: center;
  min-width: 0;
  font-size: var(--sit-font-size-link-md);
}

:host .nav-link::slotted(*) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

:host([active]) .nav-link::slotted(*) {
  --sit-link-color-default: var(--sit-color-default);
  color: var(--sit-link-color-default, --sit-color-default);
  pointer-events: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

:host([active]) .nav-link::slotted(*:hover),
:host([active]) .nav-link::slotted(*:focus),
:host([active]) .nav-link::slotted(*:focus-visible){
  --sit-link-color-emphasis: var(--sit-color-default);
  color: var(--sit-link-color-emphasis, --sit-color-default);
}

:host(.overflow-menu) {
  flex-shrink: 0;
}

sit-link {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.separator {
  color: var(--sit-color-subtle);
  display: flex;
}

:host(:last-of-type) .separator {
  display: none;
}
