.file-upload-container {
  display: flex;
  flex-direction: column;
  gap: var(--sit-form-gap-md);
}

.file-upload-list {
  display: flex;
  flex-direction: column;
  gap: var(--sit-form-gap-xl);
  list-style-type: none;
  margin-top: 0;
}

.file-upload-list.has-files {
  margin-top: var(--sit-margin-xl);
}
.filesize {
  color: var(--sit-form-color-subtle);
}

@keyframes fileUploadEnter {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fileUploadExit {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-8px);
  }
}
.file-upload-list-item-container {
  display: flex;
  gap: var(--sit-form-gap-md);
  flex-direction: column;
  overflow: hidden;
  max-height: 500px; /* for transition: arbitrary max-height that is definitely higher than the expected content */
  transition: max-height var(--sit-motion-duration-standard) var(--sit-motion-easing-standard),
    opacity var(--sit-motion-duration-standard) var(--sit-motion-easing-standard);
}

.file-upload-list-item-container.file-upload-exit {
  max-height: 0;
  opacity: 0;
}
.file-upload-list-item {
  display: flex;
  align-items: center;
  gap: var(--sit-form-gap-lg);
  padding: var(--sit-form-padding-y) calc(var(--sit-form-padding-x) + var(--sit-padding-2-xl))
    var(--sit-form-padding-y) var(--sit-form-padding-x);
  background-color: var(--sit-form-surface-default);
  border: var(--sit-form-border-width-default) solid var(--sit-border-color-muted);
  border-radius: var(--sit-form-border-radius-md);
  animation: fileUploadEnter var(--sit-motion-duration-standard) var(--sit-motion-easing-enter);
  position: relative;
  transition: transform var(--sit-motion-duration-standard) var(--sit-motion-easing-standard);
}

.file-upload-list-item.file-upload-error {
  border: var(--sit-form-border-width-default) solid var(--sit-form-danger-border-color-default);
}

.file-upload-list-item.file-upload-exit {
  animation: fileUploadExit var(--sit-motion-duration-standard) var(--sit-motion-easing-exit);
}

.file-upload-list-item span:not(:first-of-type) {
  cursor: pointer;
}

.file-upload-item-error {
  display: flex;
  align-items: flex-start;
  gap: var(--sit-form-gap-lg);
}

.file-upload-item-error sit-icon {
  color: var(--sit-color-muted);
  flex-shrink: 0;
  margin-top: 2px;
}

.file-upload-item-error-message {
  color: var(--sit-form-danger-color-default);
  font-size: var(--sit-font-size-label-sm,);
  line-height: var(--sit-line-height-2-xs);
}

ul {
  margin: 0;
  padding: 0;
}

input {
  display: none;
}

sit-button {
  cursor: pointer;
  width: fit-content;
}

sit-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
}

sit-icon.valid {
  color: var(--sit-form-success-color-default);
}

sit-icon.invalid {
  color: var(--sit-color-muted);
}

.drag-drop-zone {
  padding: var(--sit-padding-2-xl);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--sit-gap-md);
  border-radius: var(--sit-border-radius-md);
  border: var(--sit-border-width-1) dashed var(--sit-border-color-default);
  background-color: var(--sit-surface-raised);
}

.drag-drop-text {
  font-size: var(--sit-font-size-label-sm);
  line-height: var(--sit-line-height-2-xs);
}

.drag-drop-zone:focus,
.drag-drop-zone:focus-visible {
  outline: var(--sit-form-outline-focus);
  outline-offset: var(--sit-form-outline-offset-focus);
}

:host([disabled]) .file-upload-container > :not(sit-button):not(.invalid-feedback-container) {
  opacity: var(--sit-opacity-50);
}

:host([disabled]) {
  cursor: not-allowed;
  pointer-events: none;
}

:host([disabled]) .drag-drop-zone:focus,
:host([disabled]) .drag-drop-zone:focus-visible {
  outline: none;
}

:host([invalid]:not([disabled])) .drag-drop-zone {
  border: var(--sit-form-border-width-default) solid var(--sit-form-danger-border-color-default);
}

:host([invalid]:not([disabled])) .drag-drop-zone:focus-visible,
:host([invalid]:not([disabled])) .drag-drop-zone:focus {
  outline: var(--sit-border-width-2) solid var(--sit-form-danger-color-default);
  outline-offset: var(--sit-form-outline-offset-focus);
}

:host(:not([disabled]):not([invalid])) .drag-drop-zone:hover {
  outline: var(--sit-form-border-width-thick) solid var(--sit-border-color-emphasis);
  outline-offset: var(--sit-form-outline-offset-focus);
}
