:host {
  display: inline-block;
  cursor: pointer;
}

.alert-link,
.alert-link:hover {
  color: var(--sit-alert-color);
  text-decoration-line: underline;
  font-size: var(--sit-font-size-label-sm);
  font-weight: var(--sit-font-weight-regular);
  line-height: var(--sit-line-height-2-xs);
}

.alert-link:focus-visible {
  outline: var(--sit-outline-focus);
  outline-offset: var(--sit-outline-offset-focus);
}
