:host(:not([size="fullscreen"])) .modal-panel {
  background-color: var(--sit-surface-default);
  padding: var(--sit-padding-xl);
  max-width: var(--sit-dimension-640);
}
:host([size="sm"]) .modal-panel {
  max-width: var(--sit-dimension-480);
}

:host([size="md"]) .modal-panel {
  max-width: var(--sit-dimension-640);
}

:host([size="lg"]) .modal-panel {
  max-width: var(--sit-dimension-800);
}
:host([size="xl"]) .modal-panel {
  max-width: var(--sit-dimension-1280);
}

:host([size="fullscreen"]) .modal-overlay {
  background-color: var(--sit-surface-default);
}

:host([size="fullscreen"]) .modal-panel {
  margin: var(--sit-margin-xl) var(--sit-margin-lg);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: start;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--sit-z-index-modal);
  font-family: var(--sit-body-font-family);
}

.modal-panel {
  width: 100%;
  border-radius: var(--sit-border-radius-md);
  z-index: 2; /* shift above overlay  */
  display: flex;
  flex-direction: column;
  gap: var(--sit-gap-2-xl);
  margin: auto;
  max-height: calc(100% - var(--sit-margin-xl) - var(--sit-margin-xl));
}

.modal-panel:focus {
  outline: none;
}

.modal-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: var(--sit-gap-2-xl);
  min-height: 0;
  position: relative;
}

.modal-header__close {
  position: absolute;
  top: calc(-1 * var(--sit-padding-md));
  right: calc(-1 * var(--sit-padding-md));
}

@media screen and (min-width: 512px) {
  :host([size="fullscreen"]) .modal-panel {
    margin: var(--sit-margin-xl);
  }
}

@media screen and (min-width: 768px) {
  :host([size="fullscreen"]) .modal-panel {
    margin: var(--sit-margin-2-xl);
    max-height: calc(100% - var(--sit-margin-2-xl) - var(--sit-margin-2-xl));
  }
}

@media screen and (min-width: 1024px) {
  :host([size="fullscreen"]) .modal-panel {
    margin: var(--sit-margin-4-xl) var(--sit-margin-lg);
    max-height: calc(100% - var(--sit-margin-4-xl) - var(--sit-margin-4-xl));
    max-width: var(--sit-dimension-888);
  }
}

@media screen and (min-width: 1280px) {
  :host([size="fullscreen"]) .modal-panel {
    max-width: var(--sit-dimension-1168);
  }
}

@media screen and (min-width: 1440px) {
  :host([size="fullscreen"]) .modal-panel {
    max-width: var(--sit-dimension-1312);
  }
}

.modal.show .modal-panel {
  opacity: 1;
  transform: none;
}

.modal-header {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: var(--sit-dimension-872);
}

.modal-header__title-description {
  display: flex;
  flex-direction: column;
  gap: var(--sit-gap-sm);
}

:host([size="fullscreen"]) .modal-header__title-description {
  gap: var(--sit-gap-md);
}

slot[name="title"]::slotted(*) {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  gap: 1rem;
  margin: var(--sit-margin-none) !important;
  line-height: var(--sit-line-height-lg) !important;
  font-size: var(--sit-font-size-heading-sm) !important;
}

slot[name="description"]::slotted(*) {
  margin: var(--sit-margin-none) !important;
  color: var(--sit-color-subtle);
  line-height: var(--sit-line-height-xs);
}

.modal-body {
  flex: 1 1 auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.modal-body slot::slotted(*) {
  --sit-paragraph-spacing-xl: var(--sit-margin-none);
}

.modal-footer {
  flex: 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: var(--sit-gap-md);
  padding-top: var(--sit-padding-md);
}

.modal:not(.has-footer) .modal-footer {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--sit-bg-overlay);
}

[hidden] {
  display: none;
}
