:host([size="md"]) .drawer-end .drawer-panel,
:host([size="md"]) .drawer-start .drawer-panel {
  max-width: var(--sit-dimension-768);
}

:host([size="md"]) .drawer-top .drawer-panel,
:host([size="md"]) .drawer-bottom .drawer-panel {
  max-height: var(--sit-dimension-768);
}

:host([size="lg"]) .drawer-end .drawer-panel,
:host([size="lg"]) .drawer-start .drawer-panel {
  max-width: var(--sit-dimension-1024);
}

:host([size="lg"]) .drawer-top .drawer-panel,
:host([size="lg"]) .drawer-bottom .drawer-panel {
  max-height: var(--sit-dimension-1024);
}

.drawer {
  top: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.drawer-fixed {
  position: fixed;
  z-index: var(--sit-z-index-modal);
}
.drawer-panel {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  background-color: var(--sit-surface-default);
  overflow: auto;
  pointer-events: all;
}

.drawer-panel:focus {
  outline: none;
}

.drawer-top .drawer-panel {
  top: 0;
  inset-inline-end: auto;
  bottom: auto;
  inset-inline-start: 0;
  width: 100%;
  height: 80%;
  max-height: var(--sit-dimension-512);
}

.drawer-end .drawer-panel {
  top: 0;
  inset-inline-end: 0;
  bottom: auto;
  inset-inline-start: auto;
  width: 80%;
  height: 100%;
  max-width: var(--sit-dimension-512);
}

.drawer-bottom .drawer-panel {
  top: auto;
  inset-inline-end: auto;
  bottom: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 80%;
  max-height: var(--sit-dimension-512);
}

.drawer-start .drawer-panel {
  top: 0;
  inset-inline-end: auto;
  bottom: auto;
  inset-inline-start: 0;
  width: 80%;
  height: 100%;
  max-width: var(--sit-dimension-512);
}

.drawer-close-wrapper {
  position: sticky;
  top: 0;
}

sit-close-button.drawer-close {
  position: absolute;
  top: 8px;
  inset-inline-end: 8px;
}

.drawer-header {
  display: flex;
  flex-direction: column;
  gap: var(--sit-gap-xs);
  padding: var(--sit-padding-lg) var(--sit-padding-lg) var(--sit-padding-none);
}

slot[name="title"]::slotted(*) {
  margin-bottom: var(--sit-margin-none) !important;
  font-size: var(--sit-font-size-heading-sm) !important;
  color: var(--sit-color-default) !important;
}

slot[name="description"]::slotted(*) {
  margin-bottom: var(--sit-margin-none) !important;
  color: var(--sit-color-subtle);
}

slot[name="footer"]::slotted(*) {
  padding: var(--sit-padding-lg);
  position: sticky;
  background-color: var(--sit-surface-default);
  bottom: 0;
}

.drawer-body {
  flex: 1 1 auto;
  display: block;
  -webkit-overflow-scrolling: touch;
  padding: var(--sit-padding-lg);
  overflow: hidden;
}

.drawer-overlay {
  display: block;
  position: fixed;
  inset: 0;
  background-color: var(--sit-bg-overlay);
  pointer-events: all;
}

.drawer-contained .drawer-overlay {
  display: none;
}
.drawer-contained {
  height: unset;
  width: unset;
}
@media screen and (min-width: 512px) {
  .drawer-body {
     padding: var(--sit-padding-2-xl);
  } 
  .drawer-header {
    padding: var(--sit-padding-2-xl) var(--sit-padding-2-xl) var(--sit-padding-none);
  }
  slot[name="footer"]::slotted(*) {
    padding: var(--sit-padding-2-xl);
  }
}