:host {
  --datepicker-theme-color: var(--sit-primary);
  --datepicker-hover-bg: var(--sit-primary-100);
  --datepicker-bg: white;
  --datepicker-close-btn-bg: var(--datepicker-theme-color);
  --datepicker-close-btn-hover-bg: var(--sit-primary-700);
  --datepicker-close-btn-color: white;
  --datepicker-selected-date-bg: var(--sit-primary);
  --datepicker-selected-date-color: white;

}

:host([menuisopen]:not([disabled]):not([readonly])) .dropdown-menu {
  background-color: var(--sit-form-surface-default);
  padding: var(--sit-form-padding-y) var(--sit-form-padding-x);
  display: flex;
  flex-direction: column;
  gap: var(--sit-form-gap-sm);
  overflow: unset;
  width: var(--sit-dimension-320);
}

.dropdown {
  display: flex;
  height: 100%;
}

sit-datepicker-input {
  flex: 1;
  margin-right: 0; /* Remove the margin on the right */
  --input-border-radius: var(--sit-form-border-radius-md) 0 0 var(--sit-form-border-radius-md);
}
sit-icon-button {
  --btn-border-radius: 0 var(--sit-form-border-radius-md) var(--sit-form-border-radius-md) 0;
}

.m-width-160 {
  min-width: var(--sit-dimension-160);
}
