:host {
  --sit-close-btn-border-radius: var(--sit-border-radius-sm);
  display: inline-flex;
}

:host([size="sm"]) .btn-close {
  width: var(--sit-dimension-24);
  height: var(--sit-dimension-24);
}

:host([tone="fixed-light"]) .btn-close {
  color: var(--sit-color-fixed-light);
}

:host([tone="fixed-dark"]) .btn-close {
  color: var(--sit-color-fixed-dark);
}

.btn-close {
  position: relative;
  cursor: pointer;
  border: 0;
  padding: 0;
  width: var(--sit-dimension-32);
  height: var(--sit-dimension-32);
  border: var(--sit-border-width-1) solid var(--sit-border-color-transparent);
  border-radius: var(--sit-close-btn-border-radius);
  background-color: var(--sit-bg-transparent);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-close:hover,
.btn-close:focus-visible {
  background-color: var(--sit-bg-translucent);
}
:host([tone="fixed-light"]) .btn-close:hover,
:host([tone="fixed-light"]) .btn-close:focus-visible {
  background-color: var(--sit-bg-translucent-fixed-light);
}
:host([tone="fixed-dark"]) .btn-close:hover,
:host([tone="fixed-dark"]) .btn-close:focus-visible {
  background-color: var(--sit-bg-translucent-fixed-dark);
}

.btn-close:focus-visible {
  outline: var(--sit-outline-focus);
  outline-offset: var(--sit-outline-offset-focus);
}

:host([disabled]) .btn-close {
  cursor: not-allowed;
  opacity: var(--sit-opacity-40);
  pointer-events: none;
}
