<script type="module" src="../../src/index.ts"></script>
<link href="../../src/themes/day.css" rel="stylesheet" type="text/css" />
<link href="../../src/themes/night.css" rel="stylesheet" type="text/css" />
<link href="../../src/css/canvas.css" rel="stylesheet" type="text/css" />
<link href="../css/utility.css" rel="stylesheet" type="text/css" />

<style>
  .sidebar-toggler-bar {
    display: none;
  }

  @media screen and (max-width: 767px) {
    .sidebar-toggler-bar {
      display: block;
    }
  }
</style>

<body>
  <div class="sit:sticky sit:top-0 sit:z-sticky">
    <sit-masthead fluid></sit-masthead>
    <sit-mainnav fluid>
      <strong slot="brand">Canvas</strong>
      <strong slot="end">End</strong>
    </sit-mainnav>
    <sit-system-banner show fluid>This is a system banner message.</sit-system-banner>
    <div class="sidebar-toggler-bar sit:border-b sit:border-muted sit:bg-default">
      <div class="sit:py-md sit:px-sm sit:flex sit:items-center">
        <sit-icon-button
          data-sidebar-toggler="true"
          size="sm"
          tone="neutral"
          variant="ghost"
          name="sidebar-expand"
          onclick="document.querySelector('sit-sidebar').toggleCollapsed()"
        ></sit-icon-button>
      </div>
    </div>
  </div>
  <div class="sit:flex sit:flex-row sit:relative">
    <sit-sidebar></sit-sidebar>
    <div class="sit:flex sit:flex-col sit:w-full">
      <div class="sit-container-sidebar sit:py-2-xl">
        <div class="sit-grid">
          <div class="sit-col-lg-3 sit-col-md-2 sit-col-sm-2 sit-col-1 sit:bg-surface-raised sit:p-md sit:rounded-sm" style="min-height: 80px;">1</div>
          <div class="sit-col-lg-3 sit-col-md-2 sit-col-sm-2 sit-col-1 sit:bg-surface-raised sit:p-md sit:rounded-sm" style="min-height: 80px;">2</div>
          <div class="sit-col-lg-3 sit-col-md-2 sit-col-sm-2 sit-col-1 sit:bg-surface-raised sit:p-md sit:rounded-sm" style="min-height: 80px;">3</div>
          <div class="sit-col-lg-3 sit-col-md-2 sit-col-sm-2 sit-col-1 sit:bg-surface-raised sit:p-md sit:rounded-sm" style="min-height: 80px;">4</div>
          <div class="sit-col-lg-3 sit-col-md-2 sit-col-sm-2 sit-col-1 sit:bg-surface-raised sit:p-md sit:rounded-sm" style="min-height: 80px;">5</div>
          <div class="sit-col-lg-3 sit-col-md-2 sit-col-sm-2 sit-col-1 sit:bg-surface-raised sit:p-md sit:rounded-sm" style="min-height: 80px;">6</div>
          <div class="sit-col-lg-3 sit-col-md-2 sit-col-sm-2 sit-col-1 sit:bg-surface-raised sit:p-md sit:rounded-sm" style="min-height: 80px;">7</div>
          <div class="sit-col-lg-3 sit-col-md-2 sit-col-sm-2 sit-col-1 sit:bg-surface-raised sit:p-md sit:rounded-sm" style="min-height: 80px;">8</div>
          <div class="sit-col-lg-3 sit-col-md-2 sit-col-sm-2 sit-col-1 sit:bg-surface-raised sit:p-md sit:rounded-sm" style="min-height: 80px;">9</div>
          <div class="sit-col-lg-3 sit-col-md-2 sit-col-sm-2 sit-col-1 sit:bg-surface-raised sit:p-md sit:rounded-sm" style="min-height: 80px;">10</div>
          <div class="sit-col-lg-3 sit-col-md-2 sit-col-sm-2 sit-col-1 sit:bg-surface-raised sit:p-md sit:rounded-sm" style="min-height: 80px;">11</div>
          <div class="sit-col-lg-3 sit-col-md-2 sit-col-sm-2 sit-col-1 sit:bg-surface-raised sit:p-md sit:rounded-sm" style="min-height: 80px;">12</div>
        </div>
      </div>
      <sit-footer layout="sidebar"></sit-footer>
    </div>
  </div>
</body>
