.sidebar-section {
  display: flex;
  flex-direction: column;
}

.sidebar-section-label {
  display: flex;
  align-items: center;
  gap: var(--sit-gap-2-xs);
  cursor: pointer;
  font-size: var(--sit-font-size-label-xs);
  line-height: var(--sit-line-height-2-xs);
  color: var(--sit-label-color-subtle);
  padding: var(--sit-padding-xs) var(--sit-padding-sm);
  border-radius: var(--sit-border-radius-md);
}

.sidebar-section-label--collapsible {
  cursor: pointer;
}

.sidebar-section-label--collapsible:hover,
.sidebar-section-label--collapsible:focus-visible {
  color: var(--sit-label-color-default);
}

.sidebar-section-label--collapsible:focus-visible {
  outline: var(--sit-outline-focus);
  outline-offset: var(--sit-outline-offset-focus);
}

.sidebar-section--collapsed .sidebar-section-label {
  width: 0;
  height: 0;
  opacity: 0;
  padding: 0;
  margin: 0;
  pointer-events: none;
  overflow: hidden;
}

.sidebar-section-content {
  padding: 0 var(--sit-padding-xs);
  overflow: hidden;
}

.sidebar-section-content > div {
  pointer-events: auto;
  margin-top: 0;
  transition: all var(--sit-motion-duration-slow) var(--sit-motion-easing-standard);
}

.sidebar-section-content.sidebar-section-content--collapsed > div {
  pointer-events: none;
  margin-top: -100%;
}

.sidebar-section--collapsed .sidebar-section-content--collapsed > div {
  margin-top: 0;
}

.sidebar-section-separator {
  margin-bottom: var(--sit-margin-md);
}
