:host {
  vertical-align: middle;
  display: table-cell;
  border-bottom: var(--sit-border-width-1) solid var(--sit-border-color-muted);
}

:host([headerBackground]) {
  background-color: var(--sit-surface-raised);
}

.table-head {
  font-weight: var(--sit-font-weight-semibold);
  display: flex;
  align-items: center;
  padding: var(--sit-padding-sm) var(--sit-padding-md);
  min-height: var(--sit-dimension-56);
}
