:host {
  display: table-cell;
  vertical-align: middle;
  border-bottom: var(--sit-border-width-1) solid var(--sit-border-color-muted);
}

.table-cell {
  display: flex;
  align-items: center;
  min-height: var(--sit-dimension-56);
  padding: var(--sit-padding-sm) var(--sit-padding-md);
}