:host([size="sm"]) .overflow-btn {
  width: var(--sit-dimension-24);
  height: var(--sit-dimension-24);
}

.overflow-btn {
  width: var(--sit-dimension-32);
  height: var(--sit-dimension-32);
  background-color: var(--sit-bg-transparent);
  border-radius: var(--sit-border-radius-sm);
  border: 0;
  padding: 0;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overflow-btn:hover {
  background-color: var(--sit-bg-translucent-subtle);
}

.overflow-btn:focus-visible {
  outline: var(--sit-outline-focus);
  outline-offset: var(--sit-outline-offset-focus);
  background-color: var(--sit-bg-translucent-subtle);
}
