:host([bordered]) .container {
  border: var(--sit-border-width-1) solid var(--sit-border-color-muted);
  border-radius: var(--sit-border-radius-md);
}

.container {
  display: flex;
  flex-direction: column;
}

slot[name="title"]::slotted(*) {
  color: var(--sit-heading-color-default);
  font-weight: var(--sit-font-weight-semibold);
  letter-spacing: var(--sit-letter-spacing-tight);
  font-size: var(--sit-font-size-heading-sm);
  line-height: var(--sit-line-height-sm);
}

slot[name="description"]::slotted(*) {
  font-weight: var(--sit-font-weight-regular);
  color: var(--sit-color-subtle);
  font-size: var(--sit-font-size-label-md);
  line-height: var(--sit-line-height-xs);
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--sit-gap-xs);
}

.has-header {
  padding: var(--sit-padding-lg) var(--sit-padding-xl);
  border-bottom: var(--sit-border-width-1) solid var(--sit-border-color-muted);
}