:host([variant="border"][last-of-type]) .accordion-item {
  border-bottom: none;
}

:host([density="compact"]) .accordion-btn {
  padding: var(--sit-padding-md);
  font-size: var(--sit-font-size-subtitle-sm);
  line-height: var(--sit-line-height-2-xs);
}

:host([density="compact"]) .accordion-body {
  font-size: var(--sit-font-size-label-sm);
  line-height: var(--sit-line-height-2-xs);
}

:host([density="compact"]) .content {
  padding: var(--sit-padding-xs) var(--sit-padding-md) var(--sit-padding-md);
}

:host([density="spacious"]) .accordion-btn {
  padding: var(--sit-padding-xl);
  font-size: var(--sit-font-size-heading-sm);
  line-height: var(--sit-line-height-sm);
  letter-spacing: var(--sit-letter-spacing-tight);
}

:host([density="spacious"]) .content {
  padding: var(--sit-padding-xs) var(--sit-padding-xl) var(--sit-padding-xl);
}

.accordion-item {
  border-bottom: var(--sit-border-width-1) solid var(--sit-border-color-muted);
}

.accordion-btn {
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--sit-gap-md);
  padding: var(--sit-padding-lg);
  background-color: var(--sit-bg-transparent);
  text-align: left;
  border: 0;
  color: var(--sit-color-default);
  line-height: var(--sit-line-height-xs);
  font-size: var(--sit-font-size-subtitle-md);
  overflow-anchor: none;
  font-weight: var(--sit-font-weight-semibold);
}

@media (prefers-reduced-motion: reduce) {
  .accordion-btn,
  .accordion-btn:after {
    transition: none;
  }
}

.accordion-btn:not(.disabled):hover,
.accordion-btn:not(:disabled):hover {
  z-index: 2;
  background-color: var(--sit-bg-translucent-subtle);
}

.accordion-btn:not(.disabled):focus-visible,
.accordion-btn:not(:disabled):focus-visible {
  z-index: 3;
  background-color: var(--sit-bg-translucent-subtle);
  outline: var(--sit-outline-focus);
  outline-offset: var(--sit-outline-offset-focus);
}

.accordion-btn.disabled,
.accordion-btn:disabled {
  opacity: var(--sit-opacity-40);
  cursor: not-allowed;
}

slot[name="badge"]::slotted(*) {
  margin-left: auto;
}

.accordion-header__trailing {
  margin-left: auto;
  display: flex;
  gap: var(--sit-gap-md);
}

slot[name="caret"]::slotted(*),
slot[name="caret"] sit-icon {
  transition: transform 0.2s ease-in-out;
  color: var(--sit-color-subtle);
}

.accordion-btn:not(.collapsed) slot[name="caret"]::slotted(*),
.accordion-btn:not(.collapsed) slot[name="caret"] sit-icon {
  transform: rotate(-180deg);
}

.accordion-body {
  padding: 0;
  overflow: hidden;
  font-size: var(--sit-font-size-label-md);
  line-height: var(--sit-line-height-xs);
  color: var(--sit-body-color-subtle);
}

.content {
  display: block;
  padding: var(--sit-padding-xs) var(--sit-padding-lg) var(--sit-padding-lg);
}

.hidden {
  display: none;
}
