:host([active]) .dropdown-item {
  background-color: var(--sit-bg-translucent-subtle);
}

.dropdown-item {
  background-color: var(--sit-bg-transparent);
  padding: var(--sit-padding-sm) var(--sit-padding-md);
  clear: both;
  color: var(--sit-form-color-default);
  font-size: var(--sit-font-size-label-md);
  text-align: inherit;
  cursor: pointer;
  height: 100%;
  white-space: normal;
  overflow-wrap: anywhere;
}
.dropdown-item.disabled {
  opacity: var(--sit-opacity-40);
  pointer-events: none;
}
.dropdown-item .normal-item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:host([active]) .dropdown-item .normal-item-content {
  color: var(--sit-form-primary-color-default);
}

.dropdown-item:hover {
  background: var(--sit-bg-translucent-subtle);
}

.dropdown-item:focus-visible {
  background: var(--sit-bg-translucent-subtle);
  outline: var(--sit-form-outline-focus);
  outline-offset: var(--sit-form-outline-offset-focus);
}
