.empty-menu {
  padding: var(--sit-padding-sm) var(--sit-padding-lg, 20px);
  pointer-events: none;
}

.loading-menu {
  padding: var(--sit-padding-sm) var(--sit-padding-lg, 20px);
  display: flex;
  gap: var(--sit-gap-xs);
  align-items: center;
  pointer-events: none;
}
