:root{
--alt-color-100: #FBF2F9;
--alt-color-200: #F2D8ED;
--alt-color-300: #E5B2DC;
--alt-color-400: #D98BCB;
--alt-color-500: #C95EB7;
--alt-color-600: #B82EA0;
--alt-color-700: #8E247B;
--alt-color-800: #6A1B5D;
--alt-color-900: #4A1341;
}