:root{
--alt-color-100: #FDF0F6;
--alt-color-200: #F9D6E4;
--alt-color-300: #F3AECB;
--alt-color-400: #ED84AF;
--alt-color-500: #E54D8C;
--alt-color-600: #C7286A;
--alt-color-700: #991F52;
--alt-color-800: #74173D;
--alt-color-900: #51102B;
}